<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Fridge</title>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="/static/style.css" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <div class="navbar-header">
                {% if not session["current_user"] %}
                <a class="navbar-brand" href="/">My Fridge</a>
                {% else %}
                <a class="navbar-brand" href="/user">My Fridge</a>
                {% endif %}
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if not session["current_user"] %}
                <li class="nav-item">
                    <a class="nav-link" href="/signup">SignUp</a>
                </li>
                <li>
                    <a class="nav-link" href="/login">Login</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/recipe/favorites">My Favs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Likes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"
        integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/static/app.js"></script>
</body>

</html>